<nav>
    <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>Learning Node!</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All posts</a></li>
        <li><a href="/post/new">New post</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
