<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <div class="new-post content">
        <form action="/posts" method="POST">
            <label for="title">Post title</label>
            <input type="text" id="title" name="title" required>

            <label for="body">Post body</label>
            <textarea id="body" name="body" cols="30" rows="10"></textarea>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>
